@charset "utf-8";

@font-face {
    font-family: 'KNPSKkomi-Regular00';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/KNPSKkomi-Regular00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'yg-jalnan';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ownglyph_UNZ-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2406-1@1.0/Ownglyph_UNZ-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

div,
p,
ul,
ol,
li,
dl,
dt,
dd,
span,
strong,
table,
th,
td,
em,
form,
input,
textarea,
img,
video {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}


body {
    font-size: 14px;
    line-height: 24px;
    color: #3a3a3a;
}

#wrap {
    min-width: 1400px;
}



#hader {
    width: 100%;
    margin: 0 auto;
    font-family: 'KNPSKkomi-Regular00';
    overflow: hidden;
}

.inner_header {
    width: 1320px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.gnb {
    display: flex;
    font-size: large;
    font-weight: bold;
}

.gnb li {
    margin-left: 30px;
    padding-top: 40px;
    color: #4674B9;
}

.gnb li a:hover {
    color: #ffffff;
}

#banner {
    background-color: #5B8FDE;
    height: 437px;
    margin-top: 30px;
}

#product_box {
    width: 1320px;
    margin: 0 auto;
}

.product_l {
    width: 1320px;
    height: 466px;
    background: #ffffff;
    display: flex;
}

.product_img1 {
    position: relative;
    top: -300px;
}

.product_text1 {
    position: relative;
    top: 100px;
    text-align: right;
}

.product_text1 h1 {
    font-family: 'yg-jalnan';
    color: #539CD8;
    margin-bottom: 10px;
}


.product_text1 p {
    font-family: 'S-CoreDream-3Light';
    color: #539CD8;
}


.product_r {
    width: 1320px;
    height: 466px;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
}

.product_img2 img {
    position: relative;
    overflow: hidden;
}

.product_text2 {
    position: relative;
    top: 200px;
    left: 300px;
    text-align: left;
}

.product_text2 h1 {
    font-family: 'yg-jalnan';
    color: #539CD8;
    margin-bottom: 10px;
}


.product_text2 p {
    font-family: 'S-CoreDream-3Light';
    color: #539CD8;
}

.product_l3 {
    width: 1320px;
    height: 466px;
    margin-top: 350px;
    background: #ffffff;
    display: flex;
}

.product_img3 {
    position: relative;
    top: -300px;
}

.product_text3 {
    position: relative;
    top: 100px;
    left: 150px;
    text-align: right;
}

.product_text3 h1 {
    font-family: 'yg-jalnan';
    color: #F49342;
    margin-bottom: 10px;
}


.product_text3 p {
    font-family: 'S-CoreDream-3Light';
    color: #F49342;
}

.product_r {
    width: 1320px;
    height: 466px;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
}

.product_img4 img {
    position: relative;
    overflow: hidden;
}

.product_text4 {
    position: relative;
    top: 200px;
    left: 300px;
    text-align: left;
}

.product_text4 h1 {
    font-family: 'yg-jalnan';
    color: #444BEE;
    margin-bottom: 10px;
}


.product_text4 p {
    font-family: 'S-CoreDream-3Light';
    color: #444BEE;
}


.product_l5 {
    width: 1320px;
    height: 466px;
    margin-top: 350px;
    background: #ffffff;
    display: flex;
}

.product_img5 {
    position: relative;
    top: -300px;
}

.product_text5 {
    position: relative;
    top: 100px;
    left: 150px;
    text-align: right;
}

.product_text5 h1 {
    font-family: 'yg-jalnan';
    color: #4C6BA7;
    margin-bottom: 10px;
}


.product_text5 p {
    font-family: 'S-CoreDream-3Light';
    color: #4C6BA7;
}

.product_img6 img {
    position: relative;
    overflow: hidden;
}

.product_text6 {
    position: relative;
    top: 200px;
    left: 300px;
    text-align: left;
}

.product_text6 h1 {
    font-family: 'yg-jalnan';
    color: #3160AA;
    margin-bottom: 10px;
}

.product_text6 p {
    font-family: 'S-CoreDream-3Light';
    color: #3160AA;
}

.product_l7 {
    width: 1320px;
    height: 466px;
    margin-top: 350px;
    background: #ffffff;
    display: flex;
}

.product_img7 {
    position: relative;
    top: -300px;
}

.product_text7 {
    position: relative;
    top: 100px;
    left: -150px;
    text-align: right;
}

.product_text7 h1 {
    font-family: 'yg-jalnan';
    color: #DC9053;
    margin-bottom: 10px;
}


.product_text7 p {
    font-family: 'S-CoreDream-3Light';
    color: #DC9053;
}

.product_img8 img {
    position: relative;
    overflow: hidden;
}

.product_text8 {
    position: relative;
    top: 200px;
    left: 300px;
    text-align: left;
}

.product_text8 h1 {
    font-family: 'yg-jalnan';
    color: #d1522b;
    margin-bottom: 10px;
}

.product_text8 p {
    font-family: 'S-CoreDream-3Light';
    color: #d1522b;
}

.product_l9 {
    width: 1320px;
    height: 466px;
    margin-top: 350px;
    background: #ffffff;
    display: flex;
}

.product_img9 {
    position: relative;
    top: -300px;
}

.product_text9 {
    position: relative;
    top: 100px;
    left: -150px;
    text-align: right;
}

.product_text9 h1 {
    font-family: 'yg-jalnan';
    color: #EC915C;
    margin-bottom: 10px;
}


.product_text9 p {
    font-family: 'S-CoreDream-3Light';
    color: #EC915C;
}

.product_img10 img {
    position: relative;
    overflow: hidden;
}

.product_text10 {
    position: relative;
    top: 200px;
    left: 300px;
    text-align: left;
}

.product_text10 h1 {
    font-family: 'yg-jalnan';
    color: #EC666E;
    margin-bottom: 10px;
}

.product_text10 p {
    font-family: 'S-CoreDream-3Light';
    color: #EC666E;
}


#footer {
    background: url(../img/about_img/sub_footer.png) no-repeat center bottom;
    color: #fff;

}

.inner_footer {
    width: 1320px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.footer_link {
    display: flex;
    align-items: flex-end;
    padding-bottom: 40px;
    height: 925px;
    box-sizing: border-box;
}

.footer_link li {
    margin-right: 20px;
}